<div id="help" class="page">
	
	<button class="action-button action-close"></button>
	
	<div class="flex-rows">
		<div class="flex-row margin"></div>
		<div class="flex-row gutter-icons"></div>
		
		<!-- animation #help-animation1 -->
		<div class="flex-row instruction instruction1">
			<div class="vert-box alg-center">
				<span class="lang-fr">
					Munis-toi de la loupe papier du livre Cache-cache ville
				</span>
				<span class="lang-en">
					Use the magnifying glass from the book Hide &amp; Seek City
				</span>
			</div>
		</div>
		<div class="flex-row animation" id="help-animation1">
			<img class="background" src="theme/mm/_help1-background.png" />
			<img class="hand" src="theme/mm/_help1-hand.png" />
		</div>
		
		<!-- animation #help-animation2 -->
		<div class="flex-row instruction instruction2">
			<div class="vert-box alg-center">
				<span class="lang-fr">
					ou active la loupe numérique dans l'application
				</span>
				<span class="lang-en">
					Or activate the digital magnifying glass in the app
				</span>
			</div>
		</div>
		<div class="flex-row animation" id="help-animation2">
			<img class="background" src="theme/mm/_help2-background.png" />
			<img class="hand" src="theme/mm/_help2-hand.png" />
		</div>
		
		<div class="flex-row margin"></div>
	</div>
</div><!-- END #help -->