
<div id="home" class="page">
	
	<button class="action-button lang-en" title="version française" data-lang="fr"></button>
	<button class="action-button lang-fr" title="english version" data-lang="en"></button>
	<button class="action-button action-play"></button>
	<button class="action-button action-info"></button>
	
	<div class="flex-rows">
		<div class="flex-row margin"></div>
		<div class="flex-row gutter-icons"></div>
		<div class="flex-row stretcher"></div>
		<div class="flex-row houses houses1"></div>
		<div class="flex-row app-title">
			<div class="vert-box alg-center">
				<div class="lang-fr">
					<h1>CACHE-CACHE VILLE</h1>
					<h2>Agathe Demois et Vincent Godeau</h2>
				</div>
				<div class="lang-en">
					<h1>HIDE &amp; SEEK CITY</h1>
					<h2>Agathe Demois and Vincent Godeau</h2>
				</div>
			</div>
		</div>
		<div class="flex-row houses houses2"></div>
		<div class="flex-row stretcher"></div>
		<div class="flex-row gutter-icons"></div>
		<div class="flex-row margin"></div>
	</div>

</div>