<div id="info0" class="inner-page">
	
	<div class="flex-rows">
		<div class="flex-row margin blue-bg"></div>
		<div class="flex-row gutter blue-bg"></div>
		
		<div class="flex-row page-top blue-bg">
			<div class="columns">
				<div class="column gutter"></div>
				<div class="column info1-a" data-lang-toggler>
				</div>
				<div class="column gutter"></div>
				<div class="column info1-b" data-lang-toggler>
					<div class="lang-fr">
						Le livre "Cache-cache ville"<br />
						sortie prévue en 2018<br />
					</div>
					<div class="lang-en">
						The book "Hide &amp; Seek City"<br />
						is due to be published in 2018<br />
					</div>
				</div>
				<div class="column margin"></div>
			</div>
		</div>
		
		<div class="flex-row page-bottom">
			<div class="columns">
				<div class="column gutter"></div>
				<div class="column">
					<div class="lang-fr">
						Une application imaginée<br />
						d’après le livre "La grande traversée"<br />
						paru aux Éditions du Seuil<br />
						<a href="http://www.seuiljeunesse.com/ouvrage/la-grande-traversee-agathe-demois/9791023500448" target="_blank">Acheter le livre</a>
					</div>
					<div class="lang-en">
						An app inspired by the book <br />
						“The Great Journey”<br />
						Published by Tate<br />
						<a href="http://shop.tate.org.uk/childrens-books/the-great-journey/invt/16914" target="_blank">Buy the book</a>
					</div>
				</div>
				<div class="column gutter"></div>
				<div class="column">
					<div class="lang-fr">
						Pour suivre la sortie, <br />
						rendez-vous sur la page facebook :<br />
						<a href="http://www.facebook.com/cachecacheville" target="_blank">www.facebook.com/cachecacheville</a>
					</div>
					<div class="lang-en">
						To be updated on that publication<br />
						Follow us on facebook:<br />
						<a href="http://www.facebook.com/hideandseekcity" target="_blank">www.facebook.com/hideandseekcity</a>
					</div>
				</div>
				<div class="column margin"></div>
			</div>
		</div>
		
		<div class="flex-row margin"></div>
	</div>
</div>