<div id="info2" class="inner-page">
	<div class="flex-rows">
		<div class="flex-row margin blue-bg"></div>
		<div class="flex-row gutter blue-bg"></div>
		<div class="flex-row page-top blue-bg">
			<div class="few-bricks-box">
				<a href="https://itunes.apple.com/fr/app/avec-quelques-briques/id1057876475?mt=8" target="_blank">
					<img src="theme/mm/_info2-fr.png" class="lang-fr" />
					<img src="theme/mm/_info2-en.png" class="lang-en" />
				</a>
			</div>
		</div>
		<div class="flex-row page-bottom">
			<div class="lang-fr">
				<a href="https://itunes.apple.com/fr/app/avec-quelques-briques/id1057876475?mt=8" target="_blank">Avec quelques briques</a><br />
				une autre application de Vincent Godeau
			</div>
			<div class="lang-en">
				<a href="https://itunes.apple.com/us/app/with-a-few-bricks/id1057876475?mt=8" target="_blank">With a few bricks</a><br />
				another app by Vincent Godeau
			</div>
		</div>
		<div class="flex-row margin"></div>
	</div>
</div>