<div id="info1" class="inner-page">
	
	<div class="flex-rows lang-fr">
		<div class="flex-row margin blue-bg"></div>
		<div class="flex-row gutter blue-bg"></div>
		<div class="flex-row page-top blue-bg">
			
			<div class="vert-box">
				<h1>CRÉDITS</h1>
				<table>
					<tr>
						<td>
							AUTEURS &amp; ILLUSTRATEURS |
						</td>
						<td>
							<a href="http://agathedemois.com/" target="_blank">Agathe Demois</a>&nbsp;&amp;&nbsp;<a href="http://vincentgodeau.fr/" target="_blank">Vincent Godeau</a>
						</td>
					</tr>
					
					<tr>
						<td>
							ANIMATEURS |
						</td>
						<td>
							<a href="http://www.matthieurotteleur.fr/" target="_blank">Matthieu Rotteleur</a>&nbsp;&amp;&nbsp;<a href="http://vincentgodeau.fr/" target="_blank">Vincent Godeau</a>
						</td>
					</tr>
					
					<tr>
						<td>
							DÉVELOPPEUR |
						</td>
						<td>
							<a href="http://www.kopfstoss.com/" target="_blank">Antoine Fricker</a>
						</td>
					</tr>
					
					<tr>
						<td>
							DESIGNER SONORE |
						</td>
						<td>
							Le Chevalier de Rinchy
						</td>
					</tr>
				</table>
				
				<!--
				<div class="evaluation">
					<img src="theme/mm/_star24.png" alt="" />
					<span><a href="#">Évaluer l'application</a></span>
				</div>
				-->
			</div>
		</div>
		
		<div class="flex-row page-bottom">
			
			<div class="flex-columns">
				<div class="flex-column stretcher"></div>
				<div class="flex-column croq-logo" title="croq' les mots marmot!"></div>
				<div class="flex-column thanx">
					<div>
						<h3>
							Réalisée avec le concours et dans le cadre de "Croq' les mots, marmot!"
						</h3>
						<p>
							Une co-production des Communautés de communes du Bocage Mayennais, de l’Ernée, du Mont des Avaloirs,
							Mayenne Communauté et Le Kiosque - Centre d’action culturelle de Mayenne Communauté.
							Avec le soutien de l’Union Européenne - Fonds Leader, la Région des Pays de la Loire, le ministère de la Culture
							et de la Communication - DRAC des Pays de la Loire, la Caisse d’Allocations familiales et la Direction départementale
							de la cohésion sociale et de la protection des populations de la Mayenne.
						</p>
					</div>
				</div>
				<div class="flex-column stretcher"></div>
			</div>
		</div>
		<div class="flex-row margin"></div>
	</div>
	
	
	<div class="flex-rows lang-en">
		<div class="flex-row margin blue-bg"></div>
		<div class="flex-row gutter blue-bg"></div>
		<div class="flex-row page-top blue-bg">
			<div class="vert-box">
				<h1>CREDITS</h1>
				<table>
					<tr>
						<td>
							AUTHORS &amp; ILLUSTRATORS |
						</td>
						<td>
							<a href="http://agathedemois.com/" target="_blank">Agathe Demois</a>&nbsp;&amp;&nbsp;<a href="http://vincentgodeau.fr/" target="_blank">Vincent Godeau</a>
						</td>
					</tr>
					
					<tr>
						<td>
							ANIMATORS |
						</td>
						<td>
							<a href="http://www.matthieurotteleur.fr/" target="_blank">Matthieu Rotteleur</a>&nbsp;&amp;&nbsp;<a href="http://vincentgodeau.fr/" target="_blank">Vincent Godeau</a>
						</td>
					</tr>
					
					<tr>
						<td>
							DEVELOPER |
						</td>
						<td>
							<a href="http://www.kopfstoss.com/" target="_blank">Antoine Fricker</a>
						</td>
					</tr>
					
					<tr>
						<td>
							SOUND DESIGNER |
						</td>
						<td>
							Le Chevalier de Rinchy
						</td>
					</tr>
				</table>
				
				<!--
				<div class="evaluation">
					<img src="theme/mm/_star24.png" alt="" />
					<span><a href="#">Évaluer l'application</a></span>
				</div>
				-->
			</div>
		</div>
		
		<div class="flex-row page-bottom">
			<div class="flex-columns">
				<div class="flex-column croq-logo" title="croq' les mots marmot!"></div>
				<div class="flex-column thanx">
					<div>
						<h3>
							This app has been done with the help of the program "Croq' les mots, marmot!"
						</h3>
						<p>
							with the Haute Mayenne community, the association le Kiosque - Centre d'action culturelle de Mayenne Communauté,
							the Leader fund from the European Union -, the Pays de la Loire region, the ministry for Culture and Communication -
							the directorate for cultural affairs DRAC des Pays de la Loire, the child benefits office Caisse d'Allocations familiales
							and the Direction départementale de la cohésion sociale et de la protection des populations de la Mayenne directorate.
						</p>
					</div>
				</div>
			
			</div>
		</div>
		<div class="flex-row margin"></div>
	</div>
</div>