$color: #333333;
$default-text-size: 14px;
$default-text-color: #333333;

$panel-margin:50px;
$page-gutter:35px;
$actions-icons-size:46px;
$page-small-gutter: 25px;
$debug-blocks: false;

$red: #FF3C23;
$light-blue: rgb(135, 178, 248);
$dark-blue: rgb(52, 119, 218);

$h1-size: 62px;
$h2-size: 32px;
$h3-size: 25px;
$p-size: 20px;
$mini-size:12px;


@import 'core/_mixins';
@import 'core/_reset';
@import 'core/_fonts';

@import 'modules/_structure';
@import 'modules/_home';
@import 'modules/_info';
@import 'modules/_help';
@import 'modules/_play';
@import 'modules/_pixi-player';
 