@font-face {
	font-family: 'campton-semibold';
	src:url('fonts/campton-semibold.eot');
	src:url('fonts/campton-semibold?#iefix') format('embedded-opentype'),
	url('fonts/campton-semibold.woff') format('woff'),
	url('fonts/campton-semibold.ttf') format('truetype'),
	url('fonts/campton-semibold.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-heavy';
	src:url('fonts/Avenir-Heavy.eot');
	src:url('fonts/Avenir-Heavy?#iefix') format('embedded-opentype'),
	url('fonts/Avenir-Heavy.woff') format('woff'),
	url('fonts/Avenir-Heavy.ttf') format('truetype'),
	url('fonts/Avenir-Heavy.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, p, td, input, textarea, select, button{
	font-family: 'campton-semibold';
}

h1 {
	font-family: 'avenir-heavy';
}
h2, h3{
	font-family: 'campton-semibold';
}