* {
	font-size: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
}

html,
body {
	height: 100%;
}

body {
	font-size: 14px;
	display: block;
	color: #333;
	background-color: white;
}

ol,
ul {
	list-style: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

a {
	color: inherit;
}

*:focus {
	outline: none;
	box-shadow: 0 0 0 transparent;
}

@font-face {
	font-family: 'campton-semibold';
    font-weight: normal;
    font-style: normal; 

    src: url('fonts/campton-semibold.eot');
    src: url('fonts/campton-semibold?#iefix') format('embedded-opentype'), url('fonts/campton-semibold.woff') format('woff'), url('fonts/campton-semibold.ttf') format('truetype'), url('fonts/campton-semibold.svg#linecons') format('svg');
}

@font-face {
	font-family: 'avenir-heavy';
    font-weight: normal;
    font-style: normal; 

    src: url('fonts/Avenir-Heavy.eot');
    src: url('fonts/Avenir-Heavy?#iefix') format('embedded-opentype'), url('fonts/Avenir-Heavy.woff') format('woff'), url('fonts/Avenir-Heavy.ttf') format('truetype'), url('fonts/Avenir-Heavy.svg#linecons') format('svg');
}

body,
p,
td,
input,
textarea,
select,
button {
	font-family: 'campton-semibold';
}

h1 {
	font-family: 'avenir-heavy';
}

h2,
h3 {
	font-family: 'campton-semibold';
}

html,
body,
canvas {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
	background-color: #fff;
}

.lang-fr {
	display: block;
}

.lang-en {
	display: none;
}

.no-cursor {
	cursor: url('mm/no-cursor.png'), none !important;
}

.alg-left {
	text-align: left;
}

.alg-center {
	text-align: center;
}

.alg-right {
	text-align: right;
}

.flex-rows {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-content: stretch;
	flex-wrap: nowrap;
}

.flex-row {
	display: inline-flex;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
}

.flex-columns {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	align-content: stretch;
	flex-wrap: nowrap;
}

.flex-column {
	display: inline-flex;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: auto;
}

footer {
	display: block;
	width: 100%;
	height: 0;
}

header {
	display: block;
	width: 100%;
	height: 0;
}

.page {
	width: 100vw;
	height: 100vh;
}

#lang-menu,
#info-menu,
#browse-menu,
#close-overlay {
	position: absolute;
	z-index: 100;
	display: block;
}

#lang-menu {
	top: 50px;
	left: 50px;
}

#info-menu {
	top: 50px;
	right: 50px;
}

#browse-menu {
	right: 50px;
	bottom: 50px;
}

#close-overlay {
	z-index: 200;
	top: 50px;
	right: 50px;
	border: red 1px solid;
}

button.action-button {
	display: block;
	zoom: .7;
	width: 100px;
	height: 100px;
	cursor: pointer !important;
	background-color: transparent !important;
}

button.action-button div {
	width: 100%;
	height: 100%;
	transform-origin: -50% 50%;
	background: url('mm/interface/atlas.png') no-repeat;
}

button.action-button div.close-overlay {
	background-position: -640px -400px;
}

button.action-button div.info {
	background-position: -740px -400px;
}

button.action-button div.browse-next {
	background-position: -840px -400px;
}

button.action-button div.version-en {
	background-position: -940px -400px;
}

button.action-button div.version-fr {
	background-position: -1040px -400px;
}

#help {
	position: relative;
	z-index: 150;
	background-color: #7db0df;
}

#help .flex-rows {
	width: 100vw;
	max-width: 900px;
	height: 100vh;
	max-height: 100vh;
	margin: auto;
}

#help .flex-row {
	height: 100%;
	min-height: 80px;
	border: 1px solid red;
	flex-grow: 3;
}

#help .flex-row.stretcher {
	flex-shrink: 10;
	flex-grow: 1;
}

#help #help1,
#help #help2 {
	position: relative;
}

#help #help1 .background,
#help #help1 .hand,
#help #help1 .instructions,
#help #help2 .background,
#help #help2 .hand,
#help #help2 .instructions {
	position: absolute;
	display: block;
}

#help #help1 .background:before,
#help #help1 .hand:before,
#help #help2 .background:before,
#help #help2 .hand:before {
	position: absolute;
	content: '';
	background: url('mm/interface/atlas.png') no-repeat;
	background-repeat: no-repeat;
	background-size: 90% 90%;
}

#help #help1 .instructions,
#help #help2 .instructions {
	font-family: 'campton-semibold', sans-serif;
	font-size: 30px;
	width: 100%;
	text-align: center;
	color: white;
}

#help #help1 .background:before {
	width: 100px;
	height: 100px;
	border: purple 4px dotted;
	background-position: 0 -500px;
}

#help #help1 .hand {
	top: 50px;
	left: 400px;
}

#help #help1 .hand:before {
	width: 200px;
	height: 200px;
	border: orange 4px dotted;
	background-position: 0 -1140px;
}

#home .flex-rows {
	width: 100vw;
	max-width: 900px;
	height: 100vh;
	max-height: 100vh;
	margin: auto;
}

#home .flex-row {
	height: 100%;
	min-height: 80px;
	flex-grow: 3;
}

#home .flex-row.stretcher,
#home .flex-row.middle-stretcher {
	flex-shrink: 10;
	flex-grow: 1;
}

#home .flex-row.middle-stretcher {
	min-height: 120px;
}

#home .title-box {
	width: 100%;
	padding: 10px 60px;
}

#home h1 {
	font-size: 72px;
	line-height: 72px;
	display: block;
	float: none;
	margin: 0 0 12px 0;
	padding: 0;
	color: #7db0df;
}

#home h2 {
	font-size: 40px;
	line-height: 40px;
	display: block;
	float: none;
	margin: 0;
	padding: 0;
	color: #7db0df;
}

#home .house {
	display: block;
}

#home .house .house1 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house1.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#home .house .house2 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house2.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#home .house .house3 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house3.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#home .house .house4 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house4.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#home .house .house5 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house5.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#home .house .house6 {
	width: 100%;
	height: 100%;
	background: transparent url('mm/interface/house6.png') no-repeat;
	background-position: center center;
	background-size: contain;
}

#player-console,
#player-controls {
	font-weight: normal;
	position: absolute;
	z-index: 1000;
	bottom: 10px;
	padding: 5px;
	color: white;
	background: rgba(0, 0, 0, .55);
}

#player-console .block ~ .block,
#player-controls .block ~ .block {
	margin-top: 6px;
	text-align: right;
}

#player-console span.info,
#player-controls span.info {
	padding: 6px 10px;
	color: #333;
	background: white;
}

#player-console button,
#player-console select,
#player-controls button,
#player-controls select {
	padding: 6px 10px;
	color: white;
	border: none;
	background: #333;
}

#player-console select,
#player-controls select {
	padding: 5px 10px;
}

#player-console .label,
#player-controls .label {
	padding: 6px 0;
	color: #999;
}

#player-console {
	left: 10px;
}

#player-console div {
	width: 250px;
}

#player-controls {
	right: 10px;
}
