#home{
	
	padding:0 $panel-margin;
	
	button.lang-en{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.lang-fr{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.action-play{
		right:$panel-margin;
		bottom:$panel-margin;
	}
	button.action-info{
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.flex-row{
		height:100%;
		&.stretcher{
			flex: 2 1 0;
			@if($debug-blocks){
				background-color: rgba(orange, .5);
			}
		}
		&.gutter-icons{
			flex: 0 0 $actions-icons-size;
		}
		&.app-title{
			cursor: pointer;
			flex: 0 1 260px;
			position:relative;
			@if($debug-blocks) {
				background-color: rgba(orange, .2);
			}
		}
		&.houses{
			flex: 2 1 440px;
			//max-height:350px;
			
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
			.flex-columns{
				//border:2px solid orange;
				
				&.houses1, &.houses2 {
					div.house {
						flex-grow: 1;
						flex-shrink: 1;
						background-repeat: no-repeat;
						background-size: contain;
						@if($debug-blocks) {
							background-color: rgba(red, .2);
						}
					}
					div.stretcher{
						flex: 10 2 200px;
						@if($debug-blocks) {
							background-color: rgba(blue, .2);
						}
					}
				}
				&.houses1{
					div.house{
						background-position: center bottom;
					}
					div.house1{
						flex-basis: 410px;
						background-image:url('mm/home/m1s.gif');
						&:hover{
							background-image:url('mm/home/m1a.gif');
						}
					}
					div.house2{
						flex-basis:290px;
						background-image:url('mm/home/m2s.gif');
						&:hover{
							background-image:url('mm/home/m2a.gif');
						}
					}
					div.house3{
						flex-basis:300px;
						background-image:url('mm/home/m3s.gif');
						&:hover{
							background-image:url('mm/home/m3a.gif');
						}
					}
				}
				&.houses2{
					div.house{
						background-position: center top;
					}
					div.house1{
						flex-basis:300px;
						background-image:url('mm/home/m4s.gif');
						&:hover{
							background-image:url('mm/home/m4a.gif');
						}
					}
					div.house2{
						flex-basis:320px;
						background-image:url('mm/home/m5s.gif');
						&:hover{
							background-image:url('mm/home/m5a.gif');
						}
					}
					div.house3{
						flex-basis:380px;
						background-image:url('mm/home/m6s.gif');
						&:hover{
							background-image:url('mm/home/m6a.gif');
						}
					}
				}
			}
		}
	}
	
	
	h1, h2{
		display: block;
		margin:0;
		padding:0;
		color: $light-blue;
		float: none;
		font-weight: normal;
	}
	h1{
		font-size: $h1-size;
		line-height:$h1-size;
		margin:10px 0 0 0;
		
	}
	h2{
		font-size: $h2-size;
		line-height: $h2-size;
	}
}