#home{
	
	padding:0 $panel-margin;
	
	button.lang-en{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.lang-fr{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.action-play{
		right:$panel-margin;
		bottom:$panel-margin;
	}
	button.action-info{
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.flex-row{
		height:100%;
		&.stretcher{
			flex: 2 1 0;
			@if($debug-blocks){
				background-color: rgba(orange, .5);
			}
		}
		&.gutter-icons{
			flex: 0 0 $actions-icons-size;
		}
		&.houses{
			flex: 2 1 440px;
			max-height:350px;
			background-repeat:no-repeat;
			background-size:contain;
			background-position:center center;
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
		}
		&.houses1{
			background-image:url('mm/_houses1.png');
		}
		&.houses2{
			background-image:url('mm/_houses2.png');
		}
		&.title{
			flex: 0 1 260px;
			position:relative;
			@if($debug-blocks) {
				background-color: rgba(orange, .2);
			}
		}
	}
	
	h1{
		display: block;
		font-size: 64px;
		line-height:64px;
		margin:0 0 0 0;
		padding:0;
		color: $blue;
		float: none;
	}
	h2{
		display:block;
		font-size:38px;
		margin:0;
		padding:0;
		line-height:38px;
		color: $blue;
		float:none;
	}
}