#home{
	
	padding:0 $panel-margin;
	
	button.lang-en{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.lang-fr{
		left:$panel-margin;
		top:$panel-margin;
	}
	button.action-play{
		right:$panel-margin;
		bottom:$panel-margin;
	}
	button.action-info{
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.flex-row{
		height:100%;
		&.stretcher{
			flex: 2 1 0;
			@if($debug-blocks){
				background-color: rgba(orange, .5);
			}
		}
		&.houses{
			flex: 2 1 440px;
			max-height:350px;
			background-repeat:no-repeat;
			background-size:contain;
			background-position:center center;
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
		}
		&.houses1{
			background-image:url('mm/_houses1.png');
		}
		&.houses2{
			background-image:url('mm/_houses2.png');
		}
		&.title{
			flex: 0 1 260px;
			position:relative;
			@if($debug-blocks) {
				background-color: rgba(orange, .2);
			}
		}
	}
	
	h1{
		display: block;
		font-size: 72px;
		line-height:72px;
		margin:0 0 8px 0;
		padding:0;
		color: $blue;
		float: none;
	}
	h2{
		display:block;
		font-size:40px;
		margin:0;
		padding:0;
		line-height:40px;
		color: $blue;
		float:none;
	}
}

#info {
	$page-gutter: 70px;
	
	button.action-home{
		position:absolute;
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.page-title{
		position:absolute;
		left:$panel-margin;
		top:$panel-margin;
		
		display:block;
		width:500px;
		height:70px;
		span{
			padding:74px;
			color: white;
			font-size:30px;
			line-height:70px;
		}
	}
	
	.flex-row {
		height: 100%;
		&.gutter {
			flex: 0 0 $page-gutter;
		}
		&.page-top {
			flex: 1 1 66%;
			position: relative;
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
		}
		&.page-bottom {
			flex: 1 1 33%;
			position: relative;
		}
	}
	
	.page-top{
		padding:0 0 0 $panel-margin;
	}
	.page-bottom{
		padding:50px 0 0 $panel-margin;
		
		color: $light-blue;
		font-size:22px;
		
		a, a:link, a:hover, a:visited, a:active{
			color: $dark-blue;
			text-decoration:none;
		}
	}
	
	.columns{
		display:flex;
		width:100%;
	}
	.column{
		flex:1 1 50%;
		
		&.gutter {
			flex: 0 0 $page-gutter;
		}
		&.margin{
			flex:0 0 $panel-margin;
		}
		&.info1-a, &.info1-b{
			background-position:center center;
			background-size:contain;
			background-repeat: no-repeat;
		}
		&.info1-a{
			background-position: 40% center;
			background-image: url('mm/_info1-a.png');
		}
		&.info1-b{
			background-image: url('mm/_info1-b.png');
			background-position: 30% center;
			
			div{
				padding: $page-gutter 0 0 $page-gutter;
				font-size:32px;
				color:white;
			}
		}
	}
}

#help {
	
	padding:0 $panel-margin;
	background-color:$light-blue;
	
	button.action-close{
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.flex-row {
		height: 100%;
		&.instruction1 {
			flex: 0 1 100px;
			position: relative;
			@if($debug-blocks) {
				background-color: rgba(orange, .2);
			}
		}
		&.instruction2 {
			flex: 0 1 30px;
			position: relative;
			@if($debug-blocks) {
				background-color: rgba(orange, .2);
			}
			div{
				margin-top:-20px;
			}
		}
		&.animation {
			flex: 2 1 260px;
			position: relative;
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
		}
		&.stretcher {
			flex: 2 1 0;
			@if ($debug-blocks) {
				background-color: rgba(red, .5);
			}
		}
	}
	
	.instruction{
		font-size:40px;
		margin:0;
		padding:0;
		line-height:40px;
		color: $dark-blue;
	}
	
	#help-animation1, #help-animation2 {
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;
		
		.background {
			position:absolute;
			height: 100%;
			left:50%;
			transform: translateX(-50%);
			@if($debug-blocks){
				border:1px solid green;
			}
		}
		.hand {
			position:absolute;
			height: 100%;
			@if($debug-blocks){
				border:1px solid red;
			}
		}
	}
}