#info {
	
	button.action-home{
		position:absolute;
		right:$panel-margin;
		top:$panel-margin;
	}
	
	.page-title{
		position:absolute;
		left:$panel-margin;
		top:$panel-margin;
		
		display:block;
		width:500px;
		height: $actions-icons-size;
		span{
			padding:$actions-icons-size + 6px;
			color: white;
			font-size: $h3-size;
			line-height: $actions-icons-size;
		}
	}
	
	.flex-rows{
	}
	.flex-row {
		height: 100%;
		&.gutter {
			flex: 0 0 $page-gutter;
		}
		&.gutter-small{
			flex: 0 0 $page-small-gutter;
		}
		&.page-top {
			flex: 1 1 66%;
			position: relative;
			@if($debug-blocks) {
				background-color: rgba(black, .2);
			}
		}
		&.page-bottom {
			flex: 1 1 33%;
			position: relative;
		}
	}
	
	.page-top{
		padding:0 0 0 $actions-icons-size;
	}
	.page-bottom{
		padding:25px 0 0 $actions-icons-size;
		
		color: $light-blue;
		font-size:22px;
		
		a, a:link, a:hover, a:visited, a:active{
			color: $dark-blue;
		}
	}
	
	.pagination{
		position:absolute;
		z-index:200;
		left:50%;
		transform: translateX(-50%);
		bottom:$panel-margin;
		
		div{
			$pagination-size: 30px;
			
			display:block;
			float:left;
			width:$pagination-size;
			height:$pagination-size;
			border-radius: .5 * $pagination-size;
			border: $red 4px solid;
			margin:8px;
			
			background-color:white;
			&:active, &.current{
				background-color: $red;
			}
		}
	}
}

#info0{
	
	.columns{
		display:flex;
		width:100%;
	}
	.column{
		flex:1 1 50%;
		
		&.gutter {
			flex: 0 0 $page-gutter;
		}
		&.gutter-small {
			flex: 0 0 (.5 * $page-gutter);
		}
		&.margin{
			flex:0 0 $panel-margin;
		}
		&.info1-a, &.info1-b{
			background-size:contain;
			background-repeat: no-repeat;
		}
		&.info1-a {
			background-position: 30% center;
			background-image: url('mm/_info0-a-fr.png');
			
			&[data-lang-toggler="en"]{
				background-image: url('mm/_info0-a-en.png');
			}
		}
		&.info1-b{
			background-image: url('mm/_info0-b-fr.png');
			background-position: 30% center;
			
			&[data-lang-toggler="en"]{
				background-image: url('mm/_info0-b-en.png');
			}
			
			div{
				padding: (1.5 * $page-gutter) 0 0 $page-gutter;
				font-size: $h3-size;
				color:white;
			}
		}
	}
}

#info1{
	
	.flex-columns{
		width:100%;
		height: auto;
	}
	.flex-column{
		@if($debug-blocks){
			border: 1px red solid;
		}
	}
	
	.page-top{
		padding:0;
		margin:0;
		text-align:center;
		
		.vert-box{
			padding:0 $panel-margin 0 $panel-margin;
			box-sizing: border-box;
			
			& > *{
				margin-bottom:30px;
			}
			
			h1{
				display:block;
				width:auto;
				font-size: $h2-size;
				color:white;
			}
			
			table{
				width:100%;
				@extend %clearfix;
				
				td{
					@if($debug-blocks){
						border: 1px red solid;
					}
					padding: 5px 6px;
					width:50%;
					font-size: $p-size;
				}
				td:nth-child(1){
					color: white;
					text-align:right;
				}
				td:nth-child(2){
					color: $dark-blue;
					text-align:left;
				}
			}
			
			.evaluation{
				height: 24px;
				font-size: $p-size;
				line-height: 24px;
				box-sizing: border-box;
				vertical-align: middle;
				img{
					margin-right: 6px;
					vertical-align: middle;
				}
				span{
					color:white;
					vertical-align: middle;
				}
			}
		}
	}
	.page-bottom{
		
		padding:25px $panel-margin 0 $panel-margin;
		
		.croq-logo{
			flex: 0 1 190px;
			margin-right:26px;
			background: url('mm/_croq-les-mots.png') no-repeat;
			background-position:left top;
			background-size:contain;
		}
		.stretcher {
			flex: 1 10 5px;
		}
		.thanx{
			flex: 1 1 80%;
			max-width:880px;
		}
		h3{
			font-size: $p-size;
			margin-bottom:8px;
		}
		p{
			text-transform:uppercase;
			font-size:$mini-size;
		}
	}
}

#info2{
	.page-top {
		padding: 0;
		margin: 0;
		text-align: center;
		
		.few-bricks-box {
			width:100%;
			box-sizing: border-box;
			height: calc(100% - 50px);
			max-height: 80%;
			position:absolute;
			bottom:25px;
			img{
				height:100%;
			}
		}
	}
	
	.page-bottom{
		padding:25px 0 0 0;
		
		& > div{
			width:100%;
		}
		
		text-align:center;
		color: $light-blue;
		font-size: $p-size;
		
		a, a:link, a:hover, a:visited, a:active{
			color: $dark-blue;
		}
	}
}