#player-console, #player-controls{
	position:absolute;
	bottom:10px;
	
	z-index:2000;
	
	background: rgba(#000000, .55);
	padding: 5px;
	color: white;
	font-weight: normal;
	
	.block ~ .block{
		margin-top:6px;
		text-align:right;
	}
	
	span.info{
		padding: 6px 10px;
		color: #333333;
		background: white;
	}
	button, select {
		padding: 6px 10px;
		border: none;
		background: #333333;
		color: white;
	}
	select{
		padding: 5px 10px;
	}
	.label{
		padding: 6px 0;
		color:#999999;
	}
}
#player-console{
	left:10px;
	div{
		width: 250px;
	}
}
#player-controls {
	right: 10px;
}