.footer-menu{
	
	$icons-margin-opened: 50px;
	$icons-margin-closed: 12px;
	
	position:absolute;
	right: $panel-margin;
	
	div.action-button{
		display: block;
		width: $actions-icons-size;
		height: $actions-icons-size;
		margin-left: $icons-margin-opened;
		float:right;
		
		background-repeat:no-repeat;
		background-size:contain;
		background-position:center center;
		transform-origin: 50% 50%;
		
		transition: all 0.8s;
		
		&.red-home{
			background-image: url('mm/_icon-red-home.png');
		}
		&.red-magnifier{
			background-image: url('mm/_icon-red-magnifier.png');
		}
		&.red-help{
			background-image: url('mm/_icon-red-help.png');
		}
		&.red-arrow{
			background-image: url('mm/_icon-red-to-left.png');
		}
	}
	
	transform: translate(($actions-icons-size + $icons-margin-opened)* 3, -50%);
	transition: all 0.8s;
	
	&.opened{
		transform: translate(0, -50%);
		div.action-button{
			margin-left:$icons-margin-closed;
		}
		div.action-button.red-arrow{
			transform: rotate(180deg);
		}
	}
}

#pixi-stage{
	margin:0;
	padding:0;
	border:none;
}