html, body, canvas{
	margin:0;
	padding:0;
}
body{
	background-color:#ffffff;
	overflow:hidden;
	min-width: 1024px;
	min-height: 650px;
}


//	-------------------------------------- CORE GRAPHIC AND INTERACTIONS STYLES

.no-cursor{
	cursor: url('mm/no-cursor.png'), none !important;
}

.alg-left{
	text-align: left;
}
.alg-center{
	text-align: center;
}
.alg-right{
	text-align: right;
}
.vert-box{
	width:100%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.blue-bg{
	background-color:$light-blue;
}

a, a:link, a:hover, a:visited, a:active{
	text-decoration:none;
}

//	-------------------------------------- FLEX GRID

.flex-rows{
	display:flex;
	align-content:stretch;
	flex-direction:column;
	flex-wrap:nowrap;
	
	margin:auto;
	width:100vw;
	height:100vh;
	max-width:100%;
	max-height:100vh;
}
.flex-row{
	display:inline-flex;
	flex-shrink:1;
	flex-grow:1;
	flex-basis:auto;
	//border:1px blue solid;
	
	&.margin{
		flex: 0 0 $panel-margin;
	}
}
.flex-columns{
	display:flex;
	width:100%;
	height:100%;
	align-content:stretch;
	flex-direction:row;
	flex-wrap:nowrap;
}
.flex-column{
	display:inline-flex;
	flex-shrink:1;
	flex-grow:1;
	flex-basis:auto;
	//border:1px red solid;
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
br.cleaner{
	display:block;
	clear:both;
}


//	-------------------------------------- ACTION BUTTONS

button.action-button {
	position:absolute;
	z-index: 100;
	
	display: block;
	width: $actions-icons-size;
	height: $actions-icons-size;
	
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center center;
	
	// reset default button behaviour
	cursor:pointer !important;
	border:none !important;
	background-color:transparent !important;
	@if($debug-blocks){
		background-color: rgba(red, .2);
	}
	
	&.lang-fr{
		background-image: url('mm/_icon-en.png');
	}
	&.lang-en{
		background-image: url('mm/_icon-fr.png');
	}
	&.action-play{
		background-image: url('mm/_icon-play.png');
	}
	&.action-info{
		background-image: url('mm/_icon-info.png');
	}
	&.action-info2{
		background-image: url('mm/_icon-info2.png');
	}
	&.action-close{
		background-image: url('mm/_icon-close.png');
	}
	&.action-home{
		background-image: url('mm/_icon-home.png');
	}
	
	span{
		padding:$actions-icons-size + 6px;
		color: $light-blue;
		font-size: $h3-size;
		line-height: $actions-icons-size;
	}
}

//	-------------------------------------- PAGE ARCHITECTURE

footer{
	display:block;
	height:0;
	width:100%;
}
header{
	display:block;
	height:0;
	width:100%;
}

.page, .inner-page{
	width:100vw;
	height:100vh;
}
.page{
	position:absolute;
	display:none;
	background-color:white;
	transition: transform .5s;
}

.inner-pages{
	position:absolute;
	display: flex;
}
.inner-page{
	flex: 0 0 100vw;
}

#info{
	z-index:1000;
}
#help{
	z-index:975;
}
#play{
	z-index:950;
}
#home{
	z-index:900;
}